$bg-color1: #343434;
$bg-color2: #242424;
$bg-color3: #c20c0c;
$bg-color4: #f5f5f5;
$bg-color5: #f2f2f2;
$bg-color6: #ffffff;
$bg-color7: #f4f4f4;
$bg-color8: #e8e8e8;
$bg-color9:#fafafa;
$font-color1: #eeeeee;
$font-color2: #878787;
$font-color3: #cccccc;
$font-color4: #f2f2f2;
$font-color5: #666666;
$font-color6: #999999;
$font-color7: #c10d0c;
$font-color8: #333333;
$font-color9: #c1c1c1;
$bg-color: $bg-color2;
$bg-color-hover: $bg-color1;
$font-normal-color: $font-color1;
$font-high:#ffffff;
$font-normal: #cccccc;
$max-width1: 1600px;
$max-width-carousel: 1200px;
$rank-border-color: #c4c4c4;